<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Blog Posts</title>
</head>

<body>
	<% for (let i = 0; i < postsList.length; i++) { %>
		<div>
			<%- postsList[i].title %>
			<p>Written by <%= postsList[i].username %></p>

			<%- postsList[i].body %>
		</div>
	<% } %>

	<% if (isMoreToRender) { %>
		<a id="next" href=<%= nextURL %>>Next</a>
	<% } %>
</body>
</html>
