<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Blog Posts</title>
</head>

<body>
	<% for (let i = 0; i < postsList.length; i++) { %>
		<div>
			<h1><%= postsList[i].title %></h1>
			<h3>Written by <%= postsList[i].username %></h3>

			<p><%= postsList[i].body %></p>
		</div>
	<% } %>

	<% if (isMoreToRender) { %>
		<a id="next" href=<%= nextURL %>>Next</a>
	<% } %>
</body>
</html>
