<!DOCTYPE html>
<html>
<head>
	<% if (isFound) { %>
		<title><%= htmlTitle %></title>
	<% } %>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
	<% if (isFound) { %>
		<h1><%- title %></h1>

		<%- body %>
	<% } else { %>
		<p>Could not find a blog post with the specified username and postid. Please provide a request for a valid existing post.</p>
	<% } %>
</body>
</html>
