<!DOCTYPE html>
<html>
<head>
	<% if (isFound) { %>
		<title><%= htmlTitle %></title>
	<% } %>
</head>

<body>
	<% if (isFound) { %>
		<%- title %>
		<p>Written by <%= username %></p>

		<%- body %>
	<% } %>
</body>
</html>
